# .editorconfig
root = true

# All files
[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Makefiles must use tabs
[Makefile]
indent_style = tab

# Markdown
[*.md]
trim_trailing_whitespace = false
